body {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.text--sm { font-size: 14px; }
.text--muted { color: grey; }
.text--coral { color: $coral; }
.text--center { text-align: center; }
.capitalize { text-transform: capitalize; }
