@import "./variables";
@import "./normalise";
@import "./typography";
@import "./grid";
@import "./utilities";

// button
button {
  @extend .text--sm;
  padding: 4px $spacer;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  font-weight: 600;
  text-transform: lowercase;
  border-radius: $border-radius;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

  &:hover {
    border-color: $black;
  }

  &:disabled {
    background-color: grey;
    color: $black;
    cursor: not-allowed;
    border: 0;
  }
}

// App
.app {
  position: relative;
  background-color: rgb(32, 35, 41);
  height: 100vh;
}

.app-main {
  position: relative;
  height: 100%;
  overflow-y: scroll;

  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    max-width: 960px;
    margin: 0 auto;
  }
}

.app-error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: map-get($spacers, 2);
  background-color: rgba($red, 0.1);
  border: 1px solid $red;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: map-get($spacers, 2);
  background-color: $overlay-bg;
}

// location
.location-info {
  display: inline-block;
  list-style: none;
  font-size: 80%;

  .location-info__item {
    display: inline;
    &:not(:last-child) {
      &::after {
        @extend .delimiter;
      }
    }
  }
}

// modal
#modal-root {
  position: relative;
  z-index: 999;
}

.modal__overlay {
  background-color: $overlay-bg;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.modal {
  width: 100%;
  max-width: 520px;
  margin: map-get($spacers, 1);

  @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }
}

.modal-content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  color: $black;
  background-color: whitesmoke;
  border-radius: $border-radius;
  border: 1px solid $coral;
  overflow: hidden;
}

.modal__header {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  border-bottom: 1px solid rgba($grey, 0.3);
  color: $black;
}

.img--thumnail {
  height: 200px;
  width: 200px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.modal-body {
  flex: 1;
  height: 100%;
  line-height: 1.4;
  padding: map-get($spacers, 2);
  overflow-y: scroll;
}
