@import "./normalise.scss";
@import "./typography";
@import "./grid";

// Utilities
.block { display: block; }

// App
.app {
  background-color: rgb(32, 35, 41);
  min-height: 100vh;
}

.app-main {
  height: 100%;
}
// font-size: calc(10px + 2vmin);
